// navbar
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 5% 0 5% ;
  height: 70px;
  width: 100vw;
  z-index: 1000;
  box-shadow: 3px 0px 10px rgb(107, 107, 107);
}
.navbar-link {
  color: #002020;
  font-size: 1.5rem;
  font-family: 'Merriweather', serif;
  margin: 0 0.5em 0 0.5em;
}

// contact
.contact {
  font-size: 1.5rem;
  font-family: 'Merriweather', serif;
  color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  .contact-icon {
    font-size: 2.5rem;
    margin: 10px;
  }
}

.contact-img {
  border-radius: 50%;
}
