// mixin rule
@mixin BoxSizing($size: border-box) {
  box-sizing: $size;
  -moz-box-sizing: $size;
  -webkit-box-sizing: $size;
}

// box model
html {
  @include BoxSizing(border-box);
}

body {
  line-height: 1.6;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

// class
.www {
  background-color: white;
}
